.Footer-S{

    display: block;
    padding-bottom: 2%;
    padding-right: 2%;
    border-radius: 2%;
    position: relative;
    margin-bottom: 1%;
    
    width: 100%;
    
    background-color:   rgb(218, 213, 213);
      text-align: center;
    

}