.menu-nav{
    display: inline-block;
padding-bottom: 2%;
padding-right: 1%;
border-radius: 2%;
position: relative;
margin-bottom: 1%;

width: 100%;

background-color:   rgb(218, 213, 213);
  text-align: end;


}
.logo{

    text-align: start;
    position: absolute;
    margin-top: 0%;
    margin-left: 1%;
}